/*Каркас сайта*/
body {
    padding:0%; margin:0%; font-size:90%; font-family:Verdana, Sans-serif;
    background: rgb(218, 231, 211);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    }
#basic {
    max-width: 80%;
    width:960px; 
    min-height:950px; 
    margin:0 auto; padding:1px 10px 45px 10px; background:#fff;
    }

/*Шапка сайта*/
li.none-bg {
    background:none!important;
}

main {
  margin-left: auto;
  margin-right: auto;/* сайт располагается по центру экрана */
  width: 80%;
  max-width: 1200px; /* резиновая, растягивается до значения в 1200px */
}
p {
    font-size: 18px;
    text-indent: 60px;
   }
   h2{
    font-size: 22px;
    text-indent: 60px;
   }
h3{
    font-size: 20px;
}
#div_1 {
    letter-spacing: 0px;
}
.liz {
 border: 3px solid red; /* Толщина рамки в пикселах,
                           тип границы (в данном случае сплошная линия) и
                           цвет линии */
 padding: 5px; /* Расстояние от текста до рамки */
}
h1{
    font-size: 26px;
    padding:50px 20px 0px 20px;
}
img {
    border:0;
    }
.img-1{
    width:50%;
}
.img-2{
    width:80%;
}  
.img-3{
    width:47%;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sect {
  display: flex;
  justify-content: flex-end;
  float: right;
}
#sec{
  float:left
}
label {
    display:flex; 
    flex-shrink:0;
    }
iframe{
    width:950px;
    height:650px;
}

  .modal {
    position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:url(https://i.pinimg.com/originals/db/d8/3c/dbd83c2de27de7d14e9eb04392994e25.jpg);
  z-index: 100;
  transition: all 0.3s;
}
.body-blocked{
    overflow: hidden;
}
.user-Name{
    padding: 5px;
}